# shellcheck shell=sh
: "${AOC_INPUTS_PUBKEY=$(op read "op://Private/Advent of Code Encryption Key/public key")}"
: "${AOC_INPUTS_SECRET=$(op read "op://Private/Advent of Code Encryption Key/secret key")}"

export AOC_INPUTS_PUBKEY
export AOC_INPUTS_SECRET
