# shellcheck shell=bash
: "${AOC_INPUTS_PUBKEY=$(op read "op://Private/Advent of Code Encryption Key/public key")}"
: "${AOC_INPUTS_SECRET=$(op read "op://Private/Advent of Code Encryption Key/secret key")}"

export AOC_INPUTS_PUBKEY
export AOC_INPUTS_SECRET

if type export_alias &>/dev/null; then
  export_alias x ./x.py
fi
